# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment
.env
.env.*

# Node / frontend
node_modules/
dist/
build/

# .NET / backend
bin/
obj/

# Python
__pycache__/
*.pyc
.env

frontend/.env.local

frontend/node_modules/
